body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
  background: black;
}

#ui {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
  top: 20px;
}

#time {
  font-size: 28px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

#wind {
  margin-top: 10px;
}

#arrow {
  font-size: 30px;
  transition: transform 0.3s;
}

#rainCanvas {
  position: fixed;
  top: 0;
  left: 0;
}
